html {
	text-align: center;
}

body {
	font-family: Inter, --apple-system, sans-serif;
	margin: 0 auto;
	display: -webkit-box;
	display: flex;
	align-content: center;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	        justify-content: center;
	text-align: center;
	width: 100vmin;
	height: 100vmin;
}

.err-code {
	font-size: 10em;
	font-weight: 100;
	font-feature-settings: 'tnum' 1, 'ss01' 1, 'liga' 1;
	margin: 0 auto;
	transition: opacity .2s;
	opacity: .07;
}

@media (max-width: 768px) {
	body > .err-code {
		font-size: 30vw;
	}
}
