/*
|-------------------------------------------------------------------------------
|   font size
|-------------------------------------------------------------------------------
*/

h1, h2, h3, h4, h4, h5,
* {
	font-size: 1em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

/*
|-------------------------------------------------------------------------------
|   font weight
|-------------------------------------------------------------------------------
*/

*::before,
*::after,
.font-weight-400	{ font-weight: 400; }

.font-weight-700	{ font-weight: 700; }

/*
|-------------------------------------------------------------------------------
|   reset
|-------------------------------------------------------------------------------
*/

*::before,
*::after {
	pointer-events: none;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h4, h5 {
	margin: 0;
}

h1, h2, h3 {
	margin-top: .4em;
	margin-bottom: .4em;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 1.7em;
}

p {
	margin: 0;
	margin-bottom: 1.7em;
}

p:last-of-type {
	margin-bottom: 0;
}
