/*
|-------------------------------------------------------------------------------
|   custom classes
|-------------------------------------------------------------------------------
*/

.wp-block-image .image-wrap {
	display: inline-block;
	width: auto;
}

.wp-block-image img {
	width: auto;
	height: auto;
}

/*
|-------------------------------------------------------------------------------
|   layout
|-------------------------------------------------------------------------------
*/

.wp-block-image img {
	margin-left: auto;
	margin-right: auto;
}
