/*
|-------------------------------------------------------------------------------
|   css vars
|-------------------------------------------------------------------------------
*/

body {
	--height-wpadminbar: 0;
}

body.admin-bar {
	--height-wpadminbar: 32;
}

@media (max-width: 782px) {
	body.admin-bar {
		--height-wpadminbar: 46;
	}
}

@media (max-width: 600px) {
	body.admin-bar {
		--height-wpadminbar: 0;
	}
}

body {
	--height-wpadminbar-px: calc(1px * var(--height-wpadminbar));
}

/*
|-------------------------------------------------------------------------------
|   official classes
|-------------------------------------------------------------------------------
*/

.menu a {
	display: inline-block;
}

[class*="has-"] {
	--color-: var(--color-txt);
	color: var(--color-);
}

hr[class*="has-"] {
	background-color: var(--color-);
}

.has-black-color									{ --color-: #000; }
.has-cyan-bluish-gray-color				{ --color-: #abb8c3; }
.has-white-color									{ --color-: #fff; }
.has-pale-pink-color							{ --color-: #f78da7; }
.has-vivid-red-color							{ --color-: #cf2e2e; }
.has-luminous-vivid-orange-color	{ --color-: #ff6900; }
.has-luminous-vivid-amber-color		{ --color-: #fcb900; }
.has-light-green-cyan-color				{ --color-: #7bdcb5; }
.has-vivid-green-cyan-color				{ --color-: #00d084; }
.has-pale-cyan-blue-color					{ --color-: #8ed1fc; }
.has-vivid-cyan-blue-color				{ --color-: #0693e3; }
.has-vivid-purple-color						{ --color-: #9b51e0; }

/*
|-------------------------------------------------------------------------------
|   custom classes
|-------------------------------------------------------------------------------
*/

.wp-block-image .image-wrap {
	display: inline-block;
	width: auto;
}

.wp-block-image img {
	width: auto;
	height: auto;
}

/*
|-------------------------------------------------------------------------------
|   layout
|-------------------------------------------------------------------------------
*/

.wp-block-image img {
	margin-left: auto;
	margin-right: auto;
}

.entry-content > :last-child {
	margin-bottom: calc(var(--line-height-em, 1.6em) * 2);
}

.entry-content ul {
	margin-bottom: var(--line-height-em, 1.6em);
}

.wp-block-group .wp-block-group .wp-block-group__inner-container {
	padding-bottom: var(--line-height-em, 1.6em);
}

.entry-content ul ul,
.entry-content ol ul,
.entry-content ul ol,
.entry-content ol ol {
	margin-bottom: 0;
}

/*
|-------------------------------------------------------------------------------
|   content
|-------------------------------------------------------------------------------
*/

.entry-content a {
	color: var(--color-link);
}

.entry-content a:focus {
	outline: 2px solid;
}

.entry-content a[href^="#"]:focus {
	outline: none;
}

.entry-content a:hover {
	--l-link-: 12%;
	text-decoration-line: underline;
}

.entry-content a:active,
.entry-content a:active:hover {
	--l-link-: -12%;
}

.entry-content .qr > a {
	color: inherit;
}

.entry-content a.button {
	color: var(--color-btn-txt);
}

.entry-content .qr > a:hover,
.entry-content a.button:hover {
	--l-link-: inherit;
	text-decoration: none;
}

.entry-content a.button:active,
.entry-content a.button:active:hover {
	--l-link-: inherit;
}
