@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-ExtraLight'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-Light'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-SemiLight'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-SemiLight.woff2') format('woff2');
    font-weight: 350;
    font-style: normal;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-Regular'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-Medium'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-Bold'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-ExtraBold')
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-ExtraLightItalic'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-ExtraLight-Italic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-LightItalic'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-Light-Italic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-SemiLightItalic'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-SemiLight-Italic.woff2') format('woff2');
	font-weight: 350;
	font-style: italic;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-Italic'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-Regular-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-MediumItalic'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-Medium-Italic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-BoldItalic'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-Bold-Italic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face{
	font-family: 'JetBrains Mono';
	src:
		local('JetBrainsMono-ExtraBoldItalic'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@v2.225/fonts/webfonts/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}
